<!DOCTYPE html>
<html ng-app="myApp" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Menu</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <div ng-controller="categoryController" class="w3-card-2 w3-margin" style="max-width:400px;">
      <header class="w3-container w3-light-grey w3-padding-8">
        <h3>Categories</h3>
      </header>
      <ul class="w3-ul">
        <li ng-repeat="(index, category) in categories" class="w3-padding-16">
          {{category.name}}
          <span ng-click="removeItem(index, category)" style="cursor:pointer;" class="w3-right w3-margin-right">×</span>
        </li>
      </ul>
      <div class="w3-container w3-light-grey w3-padding-8">
        <div class="w3-row w3-margin-top">
          <div class="w3-col s10">
            <input placeholder="Add category items here" ng-model="new_category.name" class="w3-input w3-border w3-padding">
          </div>
          <div class="w3-col s2">
            <button ng-click="addItem()" class="w3-btn w3-padding w3-green">Add</button>
          </div>
        </div>
        <p class="w3-text-red">{{errortext}}</p>
      </div>
    </div>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-resource.js"></script>
   <script src="assets/js/app.js"></script>
  </body>
</html>
